<main>
    <div class="d-flex column p-1  bg wrap">
        <div class="d-flex spc-btw m-100 f-center">
            <div class="d-flex f-center">
                <p>Post #<%= @post.id %> by</p>
                <h3><%= @post.author.name %></h3>
            </div>
            <div>
                <p> Comments: <%= @post.comments_counter || 0 %> - Likes: <%= @post.likes_counter || 0 %></p>
            </div>
        </div>
        <div>
            <p><%= @post.text %> </p>
        </div>

        <div class="p-1 wrap">
            <h3>Comments:</h3>
            <ul>
            <% if @post.recent_comments.any? %>
                <% @post.comments.each do |comment| %>
                <li class="bg">
                    <p><%=comment.author.name %> : <%=comment.text %></p>
                </li>
                <% end %>
            <% else %>
                <li>
                <p>No comments yet.</p>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
</main>