<main>
    <div class="d-flex column p-1  bg wrap">
        <div class="d-flex spc-btw m-100 f-center">
            <div class="d-flex f-center">
                <p>Post #<%= @post.id %> by</p>
                <h3><%= @post.author.name %></h3>
            </div>
            <div>
                <p> Comments: <%= @post.comments_counter || 0 %> - Likes: <%= @post.likes_counter || 0 %></p>
            </div>
        </div>
        <div>
            <p><%= @post.text %> </p>
        </div>
        <div>

        <div class="d-flex m-100 col-gap-3 mb-1">
           <%= link_to 'Add a comment', new_user_post_comment_path(@post.author.id, @post.id), class: "btn" %>
           <%= form_with(url: user_post_likes_path(@post.author, @post), method: :post) do |form| %>
            <%= form.submit 'Like', class: "btn"%>
          <% end %>
        </div>

        <div class="p-1 wrap">
            <h3>Comments:</h3>
            <ul>
            <% if @post.recent_comments.any? %>
                <% @post.comments.includes(:author).each do |comment| %>
                <li class="bg commentator">
                    <p><%=comment.author.name %> : <%=comment.text %></p>
                </li>
                <% end %>
            <% else %>
                <li>
                <p>No comments yet.</p>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
</main>